@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}