@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 90vw;
    display: flex;
    
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
    margin: 10px;
    border: 2px solid #d70b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: #ed7272;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container{
    width: 100vw;
    }
    .panel:nth-of-type(4), .panel :nth-of-type(5){
        display: none;
    }
}